:root {
  --primary: #280028;
  --secondary: #4d004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-image: url(../images/background2_site.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-container {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  opacity: 0.7;
  padding: 16px;
}

.header-container .navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.navbar-container .link {
  color: #fff;
  font-size: 20px;
  padding: 6px 20px;
  font-style: italic;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}

.navbar-container .link:hover {
  background-color: var(--secondary);
}

.card-title {
  width: 90%;
  color: #fff;
  margin: 0 auto;
  max-width: 40rem;
  font-size: 40px;
  text-align: center;
}

.card-text {
  color: #fff;
  margin: 0 auto;
  width: 90%;

}

.card {
  width: 100%;
  max-width: 500px;
  padding: Srem 3.5rem;

  border-radius: 1rem;
  border: 0.5px solid transparent;

  backdrop-filter: blur(0.5rem);
  box-shadow: 1.5rem 1.5rem 1.5rem rgba(0, 0, 0, 0.5);

  border-top-color: rgba(225, 225, 225, 0.5);
  border-left-color: rgba(225, 225, 225, 0.5);
  border-bottom-color: rgba(225, 225, 225, 0.1);
  border-right-color: rgba(225, 225, 225, 0.1);
}

.cbl {
  background-color: rgba(225, 225, 225, 0.1);
}

.footer-container {
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  opacity: 0.8;
  padding: 16px;
}

.footer-container .copyright {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: #fff;
}