:root {
  --primary: #280028;
  --secondary: #4d004d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-image: url(../images/background2_site.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  opacity: 0.7;
  padding: 16px;
}

.header-container .navbar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.navbar-container .link {
  color: #fff;
  font-size: 20px;
  padding: 5px 15px;
  font-style: italic;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.4s;
}

.navbar-container .link:hover {
  background-color: var(--secondary);
}

.footer-container {
  background-color: black;
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 70px;
  opacity: 0.8;
  padding: 16px;
}

.footer-container .copyright {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  color: aliceblue;
}