* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 90px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    background-color: #280028;
    justify-content: space-around;
}

.menu li {
    margin: 0 10px;
    display: inline-block;
}

.menu li a {
    color: #fff;
    font-size: 24px;
    padding: 5px 15px;
    font-style: italic;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.4s;
}

.menu li a:hover {
    background-color: rgb(77, 0, 77);
}

body {
    background-image: url(../images/background_site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    opacity: 0.8;
    display: flex;
    position: absolute;
    align-items: center;
    background-color: black;
    justify-content: space-around;
}

.footerMessage a {
    font-size: 20px;
    font-style: italic;
    color: aliceblue;
}